<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KAKURO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KAKURO.Properties.Settings>
            <setting name="HighlightSelectionSums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightWrongSums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoardWidth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="HideTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSubmit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrayCompleteSums" serializeAs="String">
                <value>False</value>
            </setting>
        </KAKURO.Properties.Settings>
    </userSettings>
</configuration>